In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('training_ratings_for_kaggle_comp.csv')

In [2]:
# A1: Return all movies with rating = 5.
df[df['rating'] == 5]

        user  movie  rating         id
0       2783   1253       5  2783_1253
1       2783    589       5   2783_589
4       2783    741       5   2783_741
5       2783    750       5   2783_750
6       2783    924       5   2783_924
16      2783   1301       5  2783_1301
24      2783   3175       5  2783_3175
27      2783   1584       5  2783_1584
28      2783   1748       5  2783_1748
29      2783   2553       5  2783_2553
30      2783   2571       5  2783_2571
31      2783   3527       5  2783_3527
32      2783   1019       5  2783_1019
34      2783   1965       5  2783_1965
36      2783   3576       5  2783_3576
37      2783    527       5   2783_527
42      2783   1077       5  2783_1077
43      2783   2968       5  2783_2968
54      2784   3173       5  2784_3173
60      2784   1060       5  2784_1060
112     2785   2669       5  2785_2669
183     2785   1784       5  2785_1784
193     2785   1959       5  2785_1959
226     2786   1250       5  2786_1250
227     2786   1252       5  2786_1252
228     2786   1258       5  2786_1258
232     2786   1263       5  2786_1263
233     2786    733       5   2786_733
234     2786   1267       5  2786_1267
237     2786   1272       5  2786_1272
...      ...    ...     ...        ...
499967  6040   1254       5  6040_1254
499975  6040   1276       5  6040_1276
499979  6040    750       5   6040_750
499981  6040   1288       5  6040_1288
499982  6040    759       5   6040_759
499994  6040   3224       5  6040_3224
499996  6040   2289       5  6040_2289
500000  6040   1649       5  6040_1649
500003  6040   2612       5  6040_2612
500005  6040   2624       5  6040_2624
500006  6040   3289       5  6040_3289
500010  6040   2645       5  6040_2645
500017  6040   1300       5  6040_1300
500019  6040   1307       5  6040_1307
500025  6040   2300       5  6040_2300
500027  6040   2303       5  6040_2303
500034  6040   1392       5  6040_1392
500039  6040   2357       5  6040_2357
500044  6040   1719       5  6040_1719
500047  6040    111       5   6040_111
500049  6040   3334       5  6040_3334
500062  6040   2728       5  6040_2728
500077  6040    527       5   6040_527
500080  6040   2010       5  6040_2010
500083  6040   2019       5  6040_2019
500085  6040   1077       5  6040_1077
500090  6040   2022       5  6040_2022
500091  6040   2028       5  6040_2028
500096  6040   1094       5  6040_1094
500097  6040    562       5   6040_562

[116858 rows x 4 columns]

In [15]:
# A2: Find the average movie ratings that user 2783 gave.
user_2783 = df[df['user'] == 2783]
np.mean(df['rating'])

3.6022235552889423

In [16]:
# A3: How many unique movies are there?
len(df['movie'].unique())

3551

In [5]:
# A4: Print all movie ids with rating > 4. 
df[df['rating'] > 4]

        user  movie  rating         id
0       2783   1253       5  2783_1253
1       2783    589       5   2783_589
4       2783    741       5   2783_741
5       2783    750       5   2783_750
6       2783    924       5   2783_924
16      2783   1301       5  2783_1301
24      2783   3175       5  2783_3175
27      2783   1584       5  2783_1584
28      2783   1748       5  2783_1748
29      2783   2553       5  2783_2553
30      2783   2571       5  2783_2571
31      2783   3527       5  2783_3527
32      2783   1019       5  2783_1019
34      2783   1965       5  2783_1965
36      2783   3576       5  2783_3576
37      2783    527       5   2783_527
42      2783   1077       5  2783_1077
43      2783   2968       5  2783_2968
54      2784   3173       5  2784_3173
60      2784   1060       5  2784_1060
112     2785   2669       5  2785_2669
183     2785   1784       5  2785_1784
193     2785   1959       5  2785_1959
226     2786   1250       5  2786_1250
227     2786   1252       5  2786_1252
228     2786   1258       5  2786_1258
232     2786   1263       5  2786_1263
233     2786    733       5   2786_733
234     2786   1267       5  2786_1267
237     2786   1272       5  2786_1272
...      ...    ...     ...        ...
499967  6040   1254       5  6040_1254
499975  6040   1276       5  6040_1276
499979  6040    750       5   6040_750
499981  6040   1288       5  6040_1288
499982  6040    759       5   6040_759
499994  6040   3224       5  6040_3224
499996  6040   2289       5  6040_2289
500000  6040   1649       5  6040_1649
500003  6040   2612       5  6040_2612
500005  6040   2624       5  6040_2624
500006  6040   3289       5  6040_3289
500010  6040   2645       5  6040_2645
500017  6040   1300       5  6040_1300
500019  6040   1307       5  6040_1307
500025  6040   2300       5  6040_2300
500027  6040   2303       5  6040_2303
500034  6040   1392       5  6040_1392
500039  6040   2357       5  6040_2357
500044  6040   1719       5  6040_1719
500047  6040    111       5   6040_111
500049  6040   3334       5  6040_3334
500062  6040   2728       5  6040_2728
500077  6040    527       5   6040_527
500080  6040   2010       5  6040_2010
500083  6040   2019       5  6040_2019
500085  6040   1077       5  6040_1077
500090  6040   2022       5  6040_2022
500091  6040   2028       5  6040_2028
500096  6040   1094       5  6040_1094
500097  6040    562       5   6040_562

[116858 rows x 4 columns]

In [6]:
# A5: Print all movie ids with ratings between 2 and 3.
df[(df['rating'] >= 2) & (df['rating'] <= 3)]

        user  movie  rating         id
8       2783   3070       3  2783_3070
11      2783   2640       2  2783_2640
12      2783   3471       3  2783_3471
15      2783    610       3   2783_610
17      2783   2111       3  2783_2111
19      2783   1199       3  2783_1199
21      2783   1356       2  2783_1356
23      2783   1376       3  2783_1376
26      2783   1580       2  2783_1580
33      2783   3702       3  2783_3702
35      2783     32       3    2783_32
39      2783   1210       3  2783_1210
44      2783   1097       3  2783_1097
45      2783   3927       3  2783_3927
46      2783   1243       3  2783_1243
48      2784   3452       3  2784_3452
50      2784    464       3   2784_464
51      2784   3101       3  2784_3101
52      2784   1396       3  2784_1396
55      2784   3534       3  2784_3534
56      2784   3535       3  2784_3535
57      2784   1942       3  2784_1942
63      2785    586       3   2785_586
64      2785      3       3     2785_3
65      2785   3004       3  2785_3004
67      2785   1265       3  2785_1265
70      2785   1410       3  2785_1410
72      2785   1270       3  2785_1270
74      2785   3037       3  2785_3037
75      2785   3039       3  2785_3039
...      ...    ...     ...        ...
500009  6040   2641       2  6040_2641
500020  6040    495       2   6040_495
500021  6040   1321       3  6040_1321
500024  6040   1358       3  6040_1358
500028  6040   2312       3  6040_2312
500029  6040   1373       3  6040_1373
500031  6040   1376       2  6040_1376
500032  6040   2324       3  6040_2324
500035  6040   1394       3  6040_1394
500037  6040   2348       2  6040_2348
500040  6040   1704       3  6040_1704
500041  6040   2366       3  6040_2366
500042  6040   2369       3  6040_2369
500045  6040   2376       2  6040_2376
500050  6040   1734       2  6040_1734
500053  6040   2396       3  6040_2396
500054  6040   3342       3  6040_3342
500056  6040   3361       2  6040_3361
500057  6040    150       3   6040_150
500058  6040    154       2   6040_154
500059  6040   2716       2  6040_2716
500064  6040   2739       2  6040_2739
500065  6040   2745       3  6040_2745
500066  6040   2746       2  6040_2746
500067  6040   2750       2  6040_2750
500071  6040   1036       3  6040_1036
500086  6040   1079       2  6040_1079
500088  6040   2020       3  6040_2020
500089  6040   2021       3  6040_2021
500094  6040   1090       3  6040_1090

[181850 rows x 4 columns]

In [8]:
# A6: Calculate the average rating of each movie.
df.groupby('movie')['rating'].agg(np.mean)

movie
1       4.146630
2       3.230769
3       2.977401
4       2.770833
5       2.960526
6       3.968566
7       3.421525
8       3.100000
9       2.673469
10      3.537797
11      3.807615
12      2.333333
13      3.380000
14      3.424242
15      2.661765
16      3.832370
17      4.045783
18      3.657895
19      2.554404
20      2.607595
21      3.648536
22      3.425121
23      2.944444
24      3.235849
25      3.662857
26      3.600000
27      2.906250
28      4.098901
29      4.091743
30      3.700000
          ...
3919    2.470588
3920    4.000000
3921    2.428571
3922    2.500000
3923    2.700000
3924    2.000000
3925    4.100000
3926    3.423077
3927    3.759259
3928    3.370370
3929    4.200000
3930    3.333333
3931    3.000000
3932    3.916667
3933    4.000000
3934    3.333333
3935    3.000000
3936    3.785714
3937    2.928571
3938    1.000000
3939    1.000000
3940    1.000000
3941    1.000000
3942    1.500000
3943    2.333333
3945    1.000000
3946    1.666667
3947    4.666667
3948    4.104167
3952    4.000000
Name: rating, Length: 3551, dtype: float64